@import "~bootstrap/dist/css/bootstrap.min.css";

.mt-5 {
  display: flex;
  justify-content: center;
}
#sele {
  display: flex;
  justify-content: center;
}

#NUMEROCARTA2 {
  display: flex;
  justify-content: flex-end;
}
.contenido {
  background-color: green;
}
.lacarta {
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
