@import "~bootstrap/dist/css/bootstrap.min.css";

.contenido {
  background-color: rgb(25, 107, 25);
}
#lacarta {
  border-radius: 7%;
  background-color: rgb(255, 250, 250);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  padding-bottom: 20%;
}
.paño {
  background-color: rgba(23, 160, 41, 0.452);
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 20%;
  padding-bottom: 20%;
}

#sele {
  display: flex;
  justify-content: center;
  font-size: 100px;
}

#NUMEROCARTA2 {
  display: flex;
  justify-content: flex-end;
  font-size: 100px;
}
#NUMEROCARTA {
  font-size: 100px;
}
